<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Report a Crime
            <ion-icon size="large"name="eye-outline"></ion-icon>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Report a Crime</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-input color="success"type="date"></ion-input>
<ion-input color="success"type="time"></ion-input>


<ion-item>
  <ion-label color="success"position="floating">Crime Type</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label color="success"position="floating">Criminal Description</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label color="success"position="floating">Crime Location</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label color="success"position="floating">Description</ion-label>
  <ion-input></ion-input>
</ion-item>

  <ion-content>
<ion-fab width="1" height="1" vertical="top" horizontal="left" slot="fixed">

    <img src="../assets/img/report.jpg">

  </ion-fab>
</ion-content>



