<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Reports
            <ion-icon size="large"name="eye-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search Reports</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-searchbar slot="start"color="success"placeholder="Search by Location, Crime Type, or Date"></ion-searchbar>

  <ion-content>
<ion-fab vertical="top" horizontal="left" slot="fixed">

    <img src="../assets/img/community.jpg">

  </ion-fab>
</ion-content>

